.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache
*_files
texput.log
local_mg
private.yaml
private.R
private-Vorstellung.Rmd
local_backup
.DS_Store
Vorlesungstermine/*.png
Etwas-R-am-Abend-RELOADED.nav
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
Etwas*.tex
*.toc
*.vrb
content/*.csv
